header{ bord
  height: 110px;
  width: 960px;
}
.logo{
  height: 45px;
  width: 212px;
  background-color: lightgreen;
  position: absolute;
  left: px;
  top: 0px;
  z-index: 1;
}
.logo h2 {
  position: absolute;
  left: 45px;
  top: 0px;
  z-index: 1;
}
.logo p{
  position: absolute;
  left: 45px;
  top: 15px;
  z-index: 1;
  size: 3px;
}
.email {
  float: right;
  padding: 1px;
}
.social{
  float: right;
  padding: 1px;
}
.email img {
  float: right;
  padding: 1px;
  padding-left: 2px;
}
.social img{
  float: right;
  padding: 1px;
}
.mainBody img{
  margin: auto;
}
.mainBody{
  margin-top: 60px;
}
.recepie img{}